html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*general styles*/

h1 {
  font-size: 45px;
  line-height: 64px;
  color: white;
}
.mobile-h1 {
  display: none;
}

h2 {
  font-size: 24px;
  color: white;
  margin: 0;
}

h1 span {
  opacity: .15;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: white;
  font-weight: 400;
}

.description-wpr p {
  opacity: 0.5;
  margin: 0;
}

p span {
  font-weight: 400;
  opacity: .5;
}

/*class styles*/

.notification {
  position: fixed;
  top: 24px; right: 8.5vw;
  background-color: #ffffff;
  opacity: 0;
  width: 328px;
  transition: 0.5s;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  z-index: 1;
}

 .message {
  font-size: 12px;
  color: black;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.notificationicon {
  width: 32px;
  margin-left: 24px;
}

.notificationmessage {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 160px;
}

.messageicon {
  width: 24px;
}

.buttons {
  margin: 0;
  width: 80px;
  border-left: 1px solid #e0e0e0; 
  height: 60px;
}

.buttons a {
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-top: 1px;
  padding: 0;
  display: block;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.reply {
  color: black;
}

.close {
  border-top: 1px solid #e0e0e0;
  color: #B2B2B2;
  cursor: pointer;
}

.bg-img {
  position: fixed;
  left: 0;
  top: 0;
  background-image: url(../images/heroimg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
  z-index: -1;
}

.bg-layer {
  background-color: black;
  left: 0;
  top: 0;
  transition: 0.5s;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
}

.hero {
  grid-column: 3 / 12;
  height: 100vh;
}

.hero h1 {
  top: 35%;
  position: absolute;
  margin: 0;
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  width: 74.5%;
  left: 54.25%;
  transform: translateX(-50%);
}

.fade-out {
      transition: 0.5s;
}

.left img, .left-casestudy img, .mobilescroll img {
  width: 9px;
  margin-right: 16px;
  vertical-align: middle;
  animation: infiniteNext 1.5s ease infinite;
}

.mobilescroll {
 display: none;
}

.back img {
  width: 16px;
  margin-right: 16px;
  vertical-align: middle;
}


@keyframes infiniteNext {
  0% {
    opacity: 0;
    transform: translate(0px, -15px);
  }
  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 15px);
  }
}

.right {
  text-align: right;
}

.right a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.right a:hover {
  color: #0054A5;
}

.content, .description-wpr {
  grid-column: 3 / 11;
}

.social {
  grid-column: 2 / 3;
  width: 30px;
  padding-top: 24px;
}

.social ul {
  position: fixed;
  top: 35%;
  list-style: none;
  width: 35px;
  padding-left: 0;
}

.social ul li {
  margin-bottom: 24px;
  width: 14px;
}

.social ul li a {
  position: relative;
  display: block;
}

.social ul li img {
  width: 100%;
  opacity: 0.5;
}

.social ul li img.hover {
  position: absolute;
  width: 14px;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.social ul li img.hover:hover {
  opacity: 1;
} 

.social .logo img {
  width: 100%;
}

.project-wpr {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

.project-wpr a {
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  left: 0;
}

.project-wpr a:hover {
  left: 15px;
}

.project-wpr .txt-wpr {
  position: absolute;
  width: 500px;
}

.project-wpr .txt-wpr p {
  padding-left: 24px;
}

.project-wpr .txt-wpr p::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: white;
  position: relative;
  top: 12px;
  left: -24px;
}

.project-wpr .img-1-wpr {
  background-image: url("../images/columbia.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-2-wpr {
  background-image: url("../images/melrobbins.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-3-wpr {
  background-image: url("../images/dds.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-4-wpr {
  background-image: url("../images/adaptivegreen.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-5-wpr {
  background-image: url("../images/thasosgroup.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-6-wpr {
  background-image: url("../images/timeline.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}



/*Columbia Case Study*/

.grid-timeline {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/timelinebg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 100vh;
}

.grid-columbia {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/columbiabg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 100vh;
}

.grid-thasos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/thasosbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 100vh;
}

.grid-adaptive {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/adaptivebg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 100vh;
}

.grid-melrobbins {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/melbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 100vh;
}

.grid-dds {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/ddsbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 100vh;
}


.bgcontainer {
  background-color: black;
}

.hero-columbia {
  grid-column: 3 / 12;
  height: 100vh;
}

.casestudy-wpr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
}

.description-wpr {
  grid-column: 4 / 11;
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.image-wpr {
  grid-column: 3 / 12;
  margin-bottom: 88px;
}

.image-wpr-full {
  grid-column: 1 / 13;
  margin-bottom: 88px;
}

.link {
  grid-column: 3 /12;
  margin-bottom: 144px;
  text-align: center;
}

.link a, .back a {
  text-decoration: none;
}

.back {
  grid-column: 3 / 10;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.back a p {
  margin-bottom: 25px;
  opacity: 1;
}

.link a h2 {
  opacity: 1;
  transition: 0.5s;
}

.link a h2:hover {
  opacity: 0.5;
}

.image-wpr img, .image-wpr-full img {
  width: 100%;
}

.description-wpr p {
  width: 55%;
}

.hero-columbia .case-header {
  top: 30%;
  position: absolute;
  margin: 0;
  width: 500px;
  margin-bottom: 40px;
  animation: fadeInUp 1s ease;
}

.hero-columbia p {
  animation: fadeInUp 1s ease;
}

/*Responsive Designs*/

@media (min-width: 1300px) {
h1 {
  font-size: 50px;
  line-height: 80px;
  color: white;
}

h2 {
  font-size: 30px;
}
.project-wpr .txt-wpr {
  width: 800px;
}
}


@media (max-width: 900px) {
.project-wpr a {
    left: 40px;
}
.project-wpr a:hover {
  left: 55px;
}
.project-wpr .txt-wpr p {
  padding-left: 64px;
}
}

@media (max-width: 768px) {
.grid, .casestudy-wpr {
  margin-left: 16px;
  margin-right: 16px;
}
.grid-columbia, .grid-thasos, .grid-adaptive, .grid-melrobbins, .grid-dds, .grid-timeline {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 80px;
}
.hero, .hero-columbia, .grid-thasos, .grid-dds, .grid-adaptive, .grid-melrobbins, .grid-timeline, .social, .content, .description-wpr, .image-wpr, .back, .link {
  grid-column: 1 / 13;
}
.social ul {
  display: none;
}
h1 {
  font-size: 30px;
  line-height: 40px;
  color: white;
}
h2 {
  font-size: 20px;
}
.hero h1, .hero-columbia .case-header {
   top: 45%;
}

.project-wpr .txt-wpr {
   width: 300px;
}
.project-wpr, .description-wpr, .image-wpr {
   margin-bottom: 80px;
}
.left, .left-casestudy {
   display: none;
}
.back {
  text-align: center;
  margin-bottom: 88px;
}
.link {
  margin-bottom: 56px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 10px;
  width: 92%;
  left: 50%;
  transform: translateX(-50%);
}
}

@media (max-width: 450px) {
  .desktop-h1 {
    display: none;
  }
  .mobile-h1 {
    display: block;
  }
  .mobilescroll {
    display: block;
    position: absolute;
    bottom: 30px;
  }
  .bg-img {
   background-image: url(../images/mobileheroimg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   transition: opacity 0.5s;
}
  .grid-dds {
   background: url(../images/ddsmobile.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  }

  .grid-timeline {
    background: url(../images/timelinemobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .grid-thasos {
   background: url(../images/thasosmobile.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  }
  .grid-columbia {
   background: url(../images/columbiamobile.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  }
  .grid-melrobbins {
   background: url(../images/melrobbinsmobile.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  }
  .notification {
    right: 6vw;
  }
  .description-wpr {
    display: block;
  }
  .description-wpr p {
    width: 100%;
  }
  .description-wpr h2 {
    margin-bottom: 24px;
  }
  .hero-columbia .case-header {
    top: 30%;
    width: 300px;
  }

}

@media (max-width: 320px) {
  .notification {
    width: 270px;
}
.notificationicon {
  width: 32px;
  margin-left: 8px;
  margin-right: 8px;
}
.project-wpr .txt-wpr {
   width: 220px;
}
}



