html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  background-color: black;
}


.hero-img {
  grid-column: 1 / 13;
}
.hero-img img {
  width: 100%;
}

.hero {
  grid-column: 3 / 13;
}

.content {
  grid-column: 3 / 11;
}

.social {
  grid-column: 1 / 2;
}

.content img {
  width: 100%;
}

h1 {
  font-size: 45px;
  line-height: 72px;
  color: white;
}

h1 span {
  opacity: .2;
}

p {
  font-size: 15px;
  line-height: 24px;
  color: white;
  font-weight: 500;
}

p span {
  font-weight: 400;
  opacity: .5;
}

.social {
  background-color: blue;
}

.navbar {
  width: 35px;
}

.navbar img {
  width: 100%
}

.hero {
  background-color: red;
}

.footer {
  background-color: black;
}