html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/heroimg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: black;
}

.hero {
  grid-column: 3 / 12;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  height: 100vh;
}


.hero h1 {
  top: 35%;
  position: absolute;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 70%;
  left: 52%;
  transform: translateX(-50%);
}

.left img, .left-casestudy img {
  width: 9px;
  margin-right: 16px;
  vertical-align: middle;
  animation: infiniteNext 1.5s ease infinite;
}


@keyframes infiniteNext {
  0% {
    opacity: 0;
    transform: translate(0px, -15px);
  }
  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 15px);
  }
}

.right {
  text-align: right;
}

.right a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

.right a:hover {
  color: #0054A5;
}

.content, .description-wpr {
  grid-column: 3 / 11;
}

.social {
  grid-column: 2 / 3;
  width: 35px;
  padding-top: 24px;
}

.social ul {
  position: fixed;
  top: 35%;
  list-style: none;
  width: 35px;
  padding-left: 0;
}

.social ul li {
  margin-bottom: 24px;
  width: 16px;
}

.social ul li a {
  position: relative;
  display: block;
}

.social ul li img {
  width: 100%;
  opacity: 0.5;
}

.social ul li img.hover {
  position: absolute;
  width: 16px;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s;
}

.social ul li img.hover:hover {
  opacity: 1;
} 

.social .logo {
  width: 35px;
}

.social .logo img {
  width: 100%;
}


h1 {
  font-size: 45px;
  line-height: 72px;
  color: white;
}

h2 {
  font-size: 24px;
  color: white;
}

h1 span {
  opacity: .2;
}

p {
  font-size: 15px;
  line-height: 24px;
  color: white;
  font-weight: 500;
}

p span {
  font-weight: 400;
  opacity: .5;
}


.project-wpr {
  display: flex;
  align-items: center;
  margin-bottom: 144px;
}

.project-wpr a {
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  left: 0;
}

.project-wpr a:hover {
  left: 15px;
}

.project-wpr .txt-wpr {
  position: absolute;
  width: 500px;
}

.project-wpr .txt-wpr p {
  padding-left: 24px;
}

.project-wpr .txt-wpr p::before {
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: white;
  position: relative;
  top: 12px;
  left: -24px;
}

.project-wpr .img-1-wpr {
  background-image: url("../images/project.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-2-wpr {
  background-image: url("../images/project.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-3-wpr {
  background-image: url("../images/project.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-4-wpr {
  background-image: url("../images/project.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}

.project-wpr .img-5-wpr {
  background-image: url("../images/project.png");
  background-size: cover;
  width: 600px;
  height: 400px;
  margin-left: auto;
}



/*Columbia Case Study*/

.grid-columbia {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
  background: url(../images/columbiabg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  margin-bottom: 144px;
  height: 91vh;
}

.bgcontainer {
  background-color: black;
}

.hero-columbia {
  grid-column: 3 / 12;
  height: 100vh;
}

.casestudy-wpr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 16px;
}

.description-wpr {
  grid-column: 3 / 12;
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.image-wpr {
  grid-column: 3 / 12;
  margin-bottom: 88px;
}

.image-wpr img {
  width: 100%;
}

.description-wpr p {
  width: 552px;
}

.hero-columbia h1 {
  top: 35%;
  position: absolute;
  margin: 0;
  width: 500px;
}



